body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
}

.container {
  text-align: center;
  padding: 2rem;
  margin-top: 5rem;
  background-color: white;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-left: 550px;
}

h1 {
  color: #333;
}

h2 {
  font-size: 3rem;
  margin: 1rem 0;
  color: #007bff;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
button:last-child {
  background-color: #dc3545;
}

button:last-child:hover {
  background-color: #b02a37;
}
