body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
}

.container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  background: #121212;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 550px;
}

h1 {
  text-align: center;
}

.input-section {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

input[type="text"] {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  background-color: #121214;
  margin-bottom: 0.5rem;
  padding: 0.75rem;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-left: 550px;
}

.task-list li.done span {
  text-decoration: line-through;
  color: green;
}
